apiVersion: v1
kind: Secret
metadata:
  name: insight-bamboohr-main
  labels:
    app.kubernetes.io/part-of: insight
  annotations:
    insight.cyberfabric.com/connector: bamboohr
    insight.cyberfabric.com/source-id: bamboohr-main
type: Opaque
stringData:
  bamboohr_api_key: "CHANGE_ME"
  bamboohr_domain: "CHANGE_ME"
  bamboohr_employees_custom_fields: "[]"
